<h2><%= "#{@bulk_discount.name}" %><br/></h2>
<%= "Merchant: #{@bulk_discount.merchant.name}" %><br/>
<%= "Item threshold: #{@bulk_discount.threshold}" %><br/>
<%= "Percent off: #{@bulk_discount.discount}" %>